html {
  /* Brand colors */
  --alpha20: #E2CFFF;
  --alpha50: #B08BFF;
  --alpha100: #7C44FF;
  --alpha120: #4500BD;
  --alpha150: #2A0059;

  --beta20: #FFEDBA;
  --beta50: #FFD873;
  --beta100: #FEB90F;
  --beta120: #F08E00;
  --beta150: #E36A00;

  --gamma20: #BDFFEC;
  --gamma50: #80F5D1;
  --gamma100: #00DE9A;
  --gamma120: #009572;
  --gamma150: #004B3F;

  --delta20: #FFE4E5;
  --delta50: #FFBCC7;
  --delta100: #FF7B96;
  --delta120: #9F1E38;
  --delta150: #700016;

  /* Default text colors */
  --default1: #12101A;
  --default2: #3B354D;
  --default3: #DBD9E6;
  --default4: #FCFCFF;

  /* Default background colors, use with associated default text colors */
  --background1: #DBD9E6;
  --background2: #FCFCFF;
  --background3: #12101A;
  --background4: #3B354D;

  /* Semantic colors */
  --success100: #00DE9A;
  --success120: #009572;
  --warning50: #FEB90F;
  --warning100: #F08E00;
  --warning120: #E36A00;
  --error50: #FF7B96;
  --error100: #9F1E38;
  --error120:  #700016;
  --info100: blue;

}

@media (prefers-color-scheme: dark) {
  html {
    --default1: #FFBCC7;
    --default2: #FFE4E5;
    --default3: #12101A;
    --default4: #3B354D;
    /* use for buttons because a11y */
    --default5: #ffefef;

    --background1: #12101A;
    --background2: #3B354D;
    --background3: #DBD9E6;
    --background4: #FCFCFF;
  }
}
